body {
  margin: 0;
  padding: 20px;
  background-color: rgb(35, 11, 24);
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 60px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

 /* Cards */
.card {
  width: 400px;
  height: 570px;
  background-color: white;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  position: relative;
  transition: 150ms ease-out;
  transition-property: transform, box-shadow;
}
.card:hover {
  transform: scale(1.1) rotateZ(5deg);
  z-index: 1;
  box-shadow: 0 0 25px rgba(0,0,0,.5);
}
/* Shared atributes */
.card.heart, .card.diamond {
  color: rgb(168,2,2);
}
.card.spades, .card.club {
  color: black;
}
.card:before, .card:after {
  content: attr(data-type);
  width: 47px;
  height: 100px;
  text-align: center;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 70px;
  text-transform: uppercase;
}
.card:before {
  top: 20px;
  left: 20px;
}
.card:after {
  transform: rotate(180deg);
  bottom: 20px;
  right: 20px;
}

/* Card Images */
.card.heart{
  background-image: url("images/heart.png");
}
.card.spade{
  background-image: url("images/spade.png");
}
.card.diamond{
  background-image: url("images/diamond.png");
}
.card.club {
  background-image: url("images/club.png");
}
.card[data-type="a"]{
  background-image: url("images/as.png");
}
.card[data-type="j"]{
  background-image: url("images/jack.png");
}
.card[data-type="q"]{
  background-image: url("images/queen.png");
}
.card[data-type="k"]{
  background-image: url("images/king.png");
}
.card.heart:before, .card.heart:after {
  background-image: url("images/heart-icon.svg");
}
.card.diamond:before, .card.diamond:after {
  background-image: url("images/diamond-icon.svg");
}
.card.spade:before, .card.spade:after {
  background-image: url("images/spade-icon.svg");
}
.card.club:before, .card.club:after {
  background-image: url("images/club-icon.svg");
}